In [1]:
import pandas as pd
import numpy as np
from datetime import timedelta
import random
import math

In [2]:
df = pd.read_csv("testingResults.csv", header=0)
change_range = (37, 125)
df = df.iloc[0:change_range[0],:]
dfcopy = df.copy()
untouchdf = df.copy()
df.head()

,Timestamp,Unnamed: 1,"1. Extrinsic work values ? good salary, job security, working conditions\n1.1 A good salary is crucial for any job I consider.","1. Extrinsic work values ? good salary, job security, working conditions\n1.2 Job security is important to me.","2. Intrinsic work values ? growth & development, learning, achievement\n2.1 I seek jobs that offer interesting and challenging work.","2. Intrinsic work values ? growth & development, learning, achievement\n2.2 Having independence in my job is vital.","3. Social/Altruistic work values ? help others, positive impact on society, contribute to environmental sustainability \n3.1 I value opportunities to help others through my work.","3. Social/Altruistic work values ? help others, positive impact on society, contribute to environmental sustainability \n3.2 I value a job that allows me to make a positive contribution to society.","4. Prestige work values ? prestige job title, authority or decision making, well-regarded or respect\n4.1 The social status associated with my job is important.","4. Prestige work values ? prestige job title, authority or decision making, well-regarded or respect\n4.2 Gaining recognition through my work is important.",...,"12. From your chosen ends in above questions. Rank them from 1 to 5 in order how much they influence your work behaviour and attitudes, with 1 being the most influential and 5 being the least influential. [Long-term vs. Short-term Orientation: Emphasis on long-term planning and preparation for future rewards (Long-term orientation) or focus on immediate results and respect for tradition (Short-term Orientation).]",What is your full name?,Age Group,Gender,Org Name,Industry,Number of employees in current company,Years in current role,Type of employment,"Are you currently working in Hong Kong? (if not, please specify)"
0,10/25/2023 20:55:50,I accept the conditions,5.0,3.0,5.0,5.0,4.0,4.0,4.0,4.0,...,NaN,NaN,18-27,Female,NaN,NaN,1800,NaN,Full time,Yes
1,10/25/2023 22:30:53,I accept the conditions,5.0,3.0,5.0,5.0,3.0,3.0,5.0,4.0,...,NaN,NaN,18-27,Female,NaN,NaN,More than 500 employees,1,Full time,Yes
2,10/26/2023 11:14:11,I accept the conditions,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,...,5th,NaN,Below 12,Male,NaN,NaN,Less than 10 employees,Testing,Full time,Yes
3,10/27/2023 9:26:12,I accept the conditions,4.0,4.0,5.0,4.0,4.0,4.0,4.0,4.0,...,5th,Lam Yi Ki,18-27,Female,HKU,Finance & Account,Less than 10 employees,0,Student,Yes
4,10/27/2023 9:35:15,I accept the conditions,5.0,4.0,3.0,2.0,2.0,4.0,3.0,2.0,...,1st,Cheng Yu Shan,18-27,Female,Hkust,Eduction,More than 500 employees,Year 4,Full time,Full time student

In [3]:
# Convert the first column to datetime objects
times = pd.to_datetime(df.iloc[0:change_range[0], 0])

# Calculate the seconds past midnight for each time
seconds_past_midnight = [(time - time.replace(hour=0, minute=0, second=0)).total_seconds() for time in times]

# Start date for the new dates
start_date = pd.to_datetime("10/29/2023")

# Generate new dates
new_dates = [start_date + timedelta(days=random.randint(0, 10)) for _ in range(change_range[1] - change_range[0])]

# Generate new times
new_times = []
for date in new_dates:
    for seconds in seconds_past_midnight:
        new_time = (date + timedelta(seconds=np.random.normal(loc=seconds, scale=700) + random.randint(-3600, 3600))) # add some random noise
        new_times.append(str(new_time)[:-4])

new_times.sort()
col0 = random.choices(new_times, k=change_range[1] - change_range[0])
col0.sort()
col0[-5:]
for i in col0:
    print(i)

2023-10-29 10:06:33.15
2023-10-29 10:08:38.04
2023-10-29 10:15:55.04
2023-10-29 10:36:37.33
2023-10-29 10:37:00.59
2023-10-29 11:06:03.62
2023-10-29 11:17:10.03
2023-10-29 11:22:20.25
2023-10-29 11:44:43.11
2023-10-29 11:54:33.33
2023-10-29 12:09:22.30
2023-10-29 12:10:52.36
2023-10-29 12:22:51.51
2023-10-29 18:14:51.11
2023-10-29 19:49:06.92
2023-10-29 21:43:55.10
2023-10-29 22:17:38.18
2023-10-29 22:28:15.57
2023-10-29 23:22:45.42
2023-10-29 23:39:09.89
2023-10-30 10:58:37.71
2023-10-30 11:01:51.08
2023-10-30 11:01:56.67
2023-10-30 11:37:50.30
2023-10-30 11:42:45.26
2023-10-30 20:10:46.22
2023-10-31 09:26:25.35
2023-10-31 10:38:08.01
2023-10-31 11:40:15.58
2023-10-31 20:15:35.66
2023-10-31 22:29:05.14
2023-11-01 12:00:58.94
2023-11-02 08:54:22.48
2023-11-02 11:35:51.52
2023-11-02 11:45:37.94
2023-11-02 11:52:28.21
2023-11-02 21:24:54.60
2023-11-02 23:46:28.83
2023-11-03 10:36:42.99
2023-11-03 11:11:32.68
2023-11-03 12:18:52.17
2023-11-03 12:32:19.82
2023-11-03 13:20:50.18
2023-11-03 13:41:42.70
2023-11-03 20:48:33.54
2023-11-03 21:24:06.86
2023-11-03 22:42:42.30
2023-11-03 23:15:39.22
2023-11-04 12:37:41.11
2023-11-04 19:46:06.31
2023-11-04 20:01:15.79
2023-11-04 20:26:29.34
2023-11-04 20:37:11.79
2023-11-04 22:06:46.15
2023-11-04 22:07:35.34
2023-11-05 09:16:51.81
2023-11-05 10:28:33.48
2023-11-05 10:58:33.74
2023-11-05 11:09:18.77
2023-11-05 13:10:08.00
2023-11-05 17:31:07.68
2023-11-05 20:34:07.53
2023-11-05 20:39:18.94
2023-11-05 21:15:13.35
2023-11-05 23:16:21.55
2023-11-06 09:42:28.55
2023-11-06 10:03:53.68
2023-11-06 10:08:07.80
2023-11-06 10:13:59.55
2023-11-06 11:44:59.77
2023-11-06 12:00:14.89
2023-11-06 13:45:53.67
2023-11-06 17:54:11.12
2023-11-06 18:48:41.96
2023-11-06 22:42:02.40
2023-11-07 09:21:43.74
2023-11-07 09:48:16.85
2023-11-07 09:49:53.31
2023-11-07 10:15:39.04
2023-11-07 10:47:42.80
2023-11-07 11:35:47.57
2023-11-07 12:14:57.11
2023-11-07 22:09:15.21
2023-11-08 10:02:57.23
2023-11-08 10:18:14.82
2023-11-08 10:19:18.32
2023-11-08 12:22:07.96
2023-11-08 23:57:15.79

In [4]:
col1 = [dfcopy.iloc[3,1] for _ in range(change_range[1]-change_range[0])]
col1[:5]

['I accept the conditions',
 'I accept the conditions',
 'I accept the conditions',
 'I accept the conditions',
 'I accept the conditions']

In [5]:
import pandas as pd
import numpy as np
from scipy.stats import norm

def create_series_int(column_no) -> pd.Series:
    column = pd.to_numeric(df.iloc[:, column_no], errors='coerce')

    # Drop NaN values
    column = column.dropna()

    # Calculate the mean and standard deviation
    mean, std = column.mean(), column.std()
    print(f"{mean=:.2f} {std=:.2f}")
    
    # Generate 100 samples from this distribution
    samples = np.random.normal(mean, std, change_range[1]-change_range[0])

    # If you want to keep the samples within the same range as the original data
    samples = np.clip(samples, column.min(), column.max())

    # Round samples to the nearest integer
    samples = np.round(samples).astype(int)
    return list(samples)

In [6]:
col2 = create_series_int(2)
col2[:5]

mean=4.49 std=0.73

[5, 4, 4, 3, 5]

In [7]:
col3 = create_series_int(3)
col3[:5]

mean=3.84 std=0.73

[4, 5, 5, 3, 3]

In [8]:
col4 = create_series_int(4)
col4[:5]

mean=4.16 std=0.90

[4, 3, 4, 3, 4]

In [9]:
col5 = create_series_int(5)
col5[:5]

mean=3.78 std=0.98

[3, 5, 3, 3, 5]

In [10]:
col6 = create_series_int(6)
col6[:6]

mean=3.78 std=0.89

[5, 5, 4, 4, 3, 5]

In [11]:
col7 = create_series_int(7)
col7[:5]

mean=3.81 std=1.02

[4, 4, 5, 3, 4]

In [12]:
col8 = create_series_int(8)
col8[:5]

mean=3.49 std=0.93

[3, 2, 4, 4, 4]

In [13]:
col9 = create_series_int(9)
col9[:5]

mean=3.68 std=0.97

[3, 3, 5, 4, 2]

In [14]:
df.head()

,Timestamp,Unnamed: 1,"1. Extrinsic work values ? good salary, job security, working conditions\n1.1 A good salary is crucial for any job I consider.","1. Extrinsic work values ? good salary, job security, working conditions\n1.2 Job security is important to me.","2. Intrinsic work values ? growth & development, learning, achievement\n2.1 I seek jobs that offer interesting and challenging work.","2. Intrinsic work values ? growth & development, learning, achievement\n2.2 Having independence in my job is vital.","3. Social/Altruistic work values ? help others, positive impact on society, contribute to environmental sustainability \n3.1 I value opportunities to help others through my work.","3. Social/Altruistic work values ? help others, positive impact on society, contribute to environmental sustainability \n3.2 I value a job that allows me to make a positive contribution to society.","4. Prestige work values ? prestige job title, authority or decision making, well-regarded or respect\n4.1 The social status associated with my job is important.","4. Prestige work values ? prestige job title, authority or decision making, well-regarded or respect\n4.2 Gaining recognition through my work is important.",...,"12. From your chosen ends in above questions. Rank them from 1 to 5 in order how much they influence your work behaviour and attitudes, with 1 being the most influential and 5 being the least influential. [Long-term vs. Short-term Orientation: Emphasis on long-term planning and preparation for future rewards (Long-term orientation) or focus on immediate results and respect for tradition (Short-term Orientation).]",What is your full name?,Age Group,Gender,Org Name,Industry,Number of employees in current company,Years in current role,Type of employment,"Are you currently working in Hong Kong? (if not, please specify)"
0,10/25/2023 20:55:50,I accept the conditions,5.0,3.0,5.0,5.0,4.0,4.0,4.0,4.0,...,NaN,NaN,18-27,Female,NaN,NaN,1800,NaN,Full time,Yes
1,10/25/2023 22:30:53,I accept the conditions,5.0,3.0,5.0,5.0,3.0,3.0,5.0,4.0,...,NaN,NaN,18-27,Female,NaN,NaN,More than 500 employees,1,Full time,Yes
2,10/26/2023 11:14:11,I accept the conditions,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,...,5th,NaN,Below 12,Male,NaN,NaN,Less than 10 employees,Testing,Full time,Yes
3,10/27/2023 9:26:12,I accept the conditions,4.0,4.0,5.0,4.0,4.0,4.0,4.0,4.0,...,5th,Lam Yi Ki,18-27,Female,HKU,Finance & Account,Less than 10 employees,0,Student,Yes
4,10/27/2023 9:35:15,I accept the conditions,5.0,4.0,3.0,2.0,2.0,4.0,3.0,2.0,...,1st,Cheng Yu Shan,18-27,Female,Hkust,Eduction,More than 500 employees,Year 4,Full time,Full time student

In [15]:
# column 10 to 13 are ranking from 1st to 4th

def create_ranking(columns: list, gen_size: int, pick: int):
    rank_to_num = {"1st": 1, "2nd": 2, "3rd": 3, "4th": 4, "5th": 5}
    num_to_rank = {1: "1st", 2: "2nd", 3: "3rd", 4: "4th", 5: "5th"}
    
    # 14 - 10 = 4
    column_len = columns[-1]+1 -columns[0]
    
    meandict = {}
    stddict = {}
    
    dfcopy = df.copy().iloc[:, columns[0]:columns[-1]+1]
    newdf = pd.DataFrame()
    newdf = dfcopy.replace(rank_to_num)
    # Change column names using df.columns
    newdf.columns = [i for i in range(column_len)]
    
    for i, col in enumerate(columns):
        meandict[i] = newdf[i].mean()
        stddict[i] = newdf[i].std()


    # Or, change column names using df.rename()
    newdf.rename(columns={df.columns[0]: 0, df.columns[1]: 1, df.columns[2]: 2, df.columns[3]: 3}, inplace=True)
    print(f"\nNEWDF:\n{newdf.head()}\n\n")
    
    
    def shuffle_list():
        temp_list = [i+1 for i in range(column_len)].copy()
        # Shuffle the copy
        random.shuffle(temp_list)
        return temp_list
        # Return the shuffled list
    
    data = [shuffle_list() for i in range(gen_size)]
    # Create a DataFrame from the dictionary
    fabdf = pd.DataFrame(data)

    print("MEANDICT\n", meandict)
    def calculate_mean_diff(row):
        collect = []
        for i in range(len(row)):
            collect.append(abs(row[i] - meandict[i]))
        return sum(collect)    
        
    fabdf['sum'] = fabdf.apply(calculate_mean_diff, axis=1)
    fabdf_mean = fabdf['sum'].mean()
    print(f"\nbefore: {fabdf_mean=}")
    fabdf_std = fabdf['sum'].std()
    print(f"before: {fabdf_std=}")
    
    newdf['sum'] = newdf.apply(calculate_mean_diff, axis=1)
    newdf_mean = newdf['sum'].mean()
    newdf_std = newdf['sum'].std()
    print(f"\n{newdf_mean=}")
    print(f"{newdf_std=}")
    
    fabdf['diff'] = fabdf['sum'] - newdf_mean
    # Get the indices of the 10 rows with the largest 'sum' values
    indices_to_drop = fabdf['diff'].nlargest(gen_size - pick).index

    # Drop these rows from the DataFrame
    fabdf = fabdf.drop(indices_to_drop)
    fabdf_mean = fabdf['sum'].mean()
    print(f"\nafter: {fabdf_mean=}")
    fabdf_std = fabdf['sum'].std()
    print(f"after: {fabdf_std=}")
    
    fabdf = fabdf.replace(num_to_rank)
    
    return fabdf.iloc[:,:column_len].reset_index(drop=True)

In [16]:
col10 = create_ranking([10, 11, 12, 13], 200, change_range[1] - change_range[0])
col10

NEWDF:
   0  1  2  3
0  1  2  3  4
1  1  2  4  3
2  4  3  2  1
3  2  1  3  4
4  1  4  2  3


MEANDICT
 {0: 1.7837837837837838, 1: 2.189189189189189, 2: 2.918918918918919, 3: 3.108108108108108}

before: fabdf_mean=4.094864864864865
before: fabdf_std=1.144987382216883

newdf_mean=3.14536157779401
newdf_std=1.260735916191583

after: fabdf_mean=3.1302211302211305
after: fabdf_std=0.802698837329029

      0    1    2    3
0   1st  2nd  3rd  4th
1   1st  3rd  4th  2nd
2   1st  2nd  4th  3rd
3   1st  2nd  4th  3rd
4   2nd  1st  4th  3rd
..  ...  ...  ...  ...
83  1st  4th  3rd  2nd
84  2nd  1st  3rd  4th
85  3rd  1st  2nd  4th
86  2nd  4th  3rd  1st
87  2nd  1st  3rd  4th

[88 rows x 4 columns]

In [17]:
col14 = create_series_int(14)
col14[:5]

mean=3.22 std=1.06

[3, 4, 3, 3, 4]

In [18]:
col15 = create_series_int(15)
col15[:5]

mean=3.51 std=0.93

[1, 5, 3, 3, 5]

In [19]:
col16 = create_series_int(16)
col16[:5]

mean=3.89 std=0.77

[3, 4, 4, 5, 4]

In [20]:
col17 = create_series_int(17)
col17[:5]

mean=2.97 std=1.07

[2, 2, 5, 2, 1]

In [21]:
col18 = create_series_int(18)
col18[:5]

mean=3.86 std=0.82

[4, 3, 4, 5, 3]

In [22]:
def create_average_value(col: int):
    d = df.iloc[:,col].value_counts(normalize=True)
    col = np.random.choice(d.index, size=change_range[1] - change_range[0], p=d.values)
    col = pd.Series(col)
    return col

In [23]:
col19 = create_average_value(19)
col19[:5]

0    Low Power Distance: Emphasis on Egalitarianism...
1    Low Power Distance: Emphasis on Egalitarianism...
2    Low Power Distance: Emphasis on Egalitarianism...
3    Low Power Distance: Emphasis on Egalitarianism...
4    Low Power Distance: Emphasis on Egalitarianism...
dtype: object

In [24]:
col20 = create_average_value(20)
col20[:5]

0    Collectivism: Value on Togetherness & Group Ac...
1    Individualism: Value on Independence & Self-re...
2    Individualism: Value on Independence & Self-re...
3    Collectivism: Value on Togetherness & Group Ac...
4    Collectivism: Value on Togetherness & Group Ac...
dtype: object

In [25]:
col21 = create_average_value(21)
col21[:5]

0      Femininity: Emphasis on Cooperation & Nurturing
1      Femininity: Emphasis on Cooperation & Nurturing
2      Femininity: Emphasis on Cooperation & Nurturing
3    Masculinity: Emphasis on Competitiveness & Ach...
4    Masculinity: Emphasis on Competitiveness & Ach...
dtype: object

In [26]:
col22 = create_average_value(22)
col22[:5]

0    High Uncertainty Avoidance: Need for Stability...
1    High Uncertainty Avoidance: Need for Stability...
2    High Uncertainty Avoidance: Need for Stability...
3    High Uncertainty Avoidance: Need for Stability...
4    Low Uncertainty Avoidance: Comfort with Ambigu...
dtype: object

In [27]:
col23 = create_average_value(23)
col23[:5]

0    Long-term: Focus on Future Rewards & Perseverance
1               Short-term: Focus on Immediate Results
2               Short-term: Focus on Immediate Results
3    Long-term: Focus on Future Rewards & Perseverance
4    Long-term: Focus on Future Rewards & Perseverance
dtype: object

In [28]:
col24 = create_ranking([24, 25,26,27, 28], 100, change_range[1] - change_range[0])
col24.head()

NEWDF:
   0  1  2  3    4
0  3  2  1  4  NaN
1  5  1  2  3  NaN
2  1  2  3  4  5.0
3  3  2  4  1  5.0
4  3  5  4  2  1.0


MEANDICT
 {0: 3.081081081081081, 1: 2.5405405405405403, 2: 2.8378378378378377, 3: 3.2432432432432434, 4: 3.2285714285714286}

before: fabdf_mean=6.2610965250965265
before: fabdf_std=0.6556291751497418

newdf_mean=6.027380033094319
newdf_std=0.6871386447960877

after: fabdf_mean=6.136539136539136
after: fabdf_std=0.5986361928379734

     0    1    2    3    4
0  5th  4th  2nd  3rd  1st
1  3rd  2nd  5th  1st  4th
2  3rd  5th  1st  2nd  4th
3  5th  4th  3rd  2nd  1st
4  3rd  2nd  1st  5th  4th

In [29]:
col30 = create_average_value(30)
col30[:5]

0    18-27
1    18-27
2    18-27
3    18-27
4    18-27
dtype: object

In [30]:
col31 = create_average_value(31)
col31[:5]

0    Female
1      Male
2      Male
3      Male
4    Female
dtype: object

In [31]:
col34 = create_average_value(34)
col34[:5]

0    More than 500 employees
1     Less than 10 employees
2     Less than 10 employees
3     Less than 10 employees
4     Less than 10 employees
dtype: object

In [32]:
col36 = create_average_value(36)
col36[:5]

0     Full time
1     Full time
2     Part time
3    Internship
4     Full time
dtype: object

In [33]:
col37 = create_average_value(37)
col37[:5]

0    Studying in University
1                       Yes
2                       Yes
3                       Yes
4                       Yes
dtype: object

In [34]:
allcolumns = [
    col0,
    col1,
    col2,
    col3,
    col4,
    col5,
    col6,
    col7,
    col8,
    col9,
    col10, # 10 - 13
    col14,
    col15,
    col16,
    col17,
    col18,
    col19,
    col20,
    col21,
    col22,
    col23,
    col24, # 24 - 29
    col30,
    col31,
    col34,
    col36,
    col37,
    
]
finaldf = pd.DataFrame()

In [35]:
for i, data in enumerate(allcolumns):
    col_prefix = 'col' + chr(ord('A') + i)

    # Check if data is a DataFrame
    if isinstance(data, pd.DataFrame):
        # If data is a DataFrame, add each of its columns to df
        for j, col in enumerate(data.columns):
            finaldf[col_prefix + '_' + str(j)] = data[col]
    else:
        # If data is a list or Series, add it as a new column to df
        finaldf[col_prefix] = data
        
finaldf

,colA,colB,colC,colD,colE,colF,colG,colH,colI,colJ,...,colV_0,colV_1,colV_2,colV_3,colV_4,colW,colX,colY,colZ,col[
0,2023-10-29 10:06:33.15,I accept the conditions,5,4,4,3,5,4,3,3,...,5th,4th,2nd,3rd,1st,18-27,Female,More than 500 employees,Full time,Studying in University
1,2023-10-29 10:08:38.04,I accept the conditions,4,5,3,5,5,4,2,3,...,3rd,2nd,5th,1st,4th,18-27,Male,Less than 10 employees,Full time,Yes
2,2023-10-29 10:15:55.04,I accept the conditions,4,5,4,3,4,5,4,5,...,3rd,5th,1st,2nd,4th,18-27,Male,Less than 10 employees,Part time,Yes
3,2023-10-29 10:36:37.33,I accept the conditions,3,3,3,3,4,3,4,4,...,5th,4th,3rd,2nd,1st,18-27,Male,Less than 10 employees,Internship,Yes
4,2023-10-29 10:37:00.59,I accept the conditions,5,3,4,5,3,4,4,2,...,3rd,2nd,1st,5th,4th,18-27,Female,Less than 10 employees,Full time,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,2023-11-08 10:02:57.23,I accept the conditions,3,4,5,5,3,3,3,4,...,3rd,1st,2nd,5th,4th,18-27,Female,More than 500 employees,Full time,Yes
84,2023-11-08 10:18:14.82,I accept the conditions,5,3,4,4,4,3,4,3,...,4th,2nd,1st,5th,3rd,18-27,Male,11 to 25 employees,Internship,Yes
85,2023-11-08 10:19:18.32,I accept the conditions,3,4,5,5,3,4,4,4,...,3rd,4th,2nd,5th,1st,18-27,Male,More than 500 employees,Part time,Yes
86,2023-11-08 12:22:07.96,I accept the conditions,4,4,4,4,4,3,4,1,...,3rd,5th,2nd,1st,4th,18-27,Female,More than 500 employees,Full time,Yes
87,2023-11-08 23:57:15.79,I accept the conditions,4,4,5,3,5,4,4,5,...,3rd,5th,4th,1st,2nd,18-27,Female,25-500 employees,Full time,Yes

In [36]:
finaldf.to_csv("output2.csv", index=False)

In [37]:
for i in col36.head(25):
    print(i)

Full time
Full time
Part time
Internship
Full time
Full time
Full time
Self employed
Part time
Full time
Internship
Internship
Part time
Part time
Full time
Part time
Full time
Internship
Internship
Full time
Internship
Full time
Full time
Full time
Full time